@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */



html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #05192d;
  --header-color:    #05192d;
  --body-color:      #05192d;
  --aside-color:     #05192d;
  --fig-cap-color:   #05192d;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Poppins;
  --mono-font:       Poppins;
  --body-font:       Poppins;
  --navbar-font:     Poppins;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #05192d;
  --body-size:       0.8rem;
  --body-color:      #05192d;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #05192d;
  --text-size:       0.8em;
  --text-color:      #05192d;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       22px;
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        18px;
  --hover-color:      white;
  --bkgd-color:       #05192d;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #05192d;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/*change buttons on homepage*/
.btn-outline-dark {
    background-color: transparent; 
    color: #05192d;
    border: 1px solid;
    border-color: #05192d;
}

.btn-outline-dark:hover {
    background-color: #05192d;
    border-color: #05192d;
    color: white;
}

/* Altera o título dentro do header para negrito */
.distill-site-header {
  font-weight: bold;
}

/* Inserindo a cor dos links e eliminando os espaços entre linhas nas listas */
d-article a {
  color: #05192d;
  text-decoration-style: bold;
  border-bottom: none;
}

d-article li {
  margin-bottom: 0em;
}

/* Definir estilos personalizados para código fonte em R */

/* Cor para funções */
span.fu {
    color: #05192d !important;  /* Verde neon */
    font-weight: bold !important;
}

/* Cor para parênteses e operadores matemáticos */
span.op {
    color: #ff5400 !important;  /* Laranja */
}

/* Cor para objetos e variáveis */
span.va {
    font-style: italic !important;
}

/* Cor para funções do ggplot2, como geom_point() */
span {
    color: #05192d !important;  /* Azul escuro */
}

/* Ajustar a aparência do código-fonte como um todo */
.sourceCode {
    background-color: #f5f5f5 !important;  /* Fundo cinza claro */
    padding: 10px !important;
    border-radius: 20px !important;
    font-family: "IBM Plex Mono", "Courier New", monospace !important;
    font-size: 16px !important;
}

pre, pre code, .sourceCode, .custom-output {
    font-family: "IBM Plex Mono", "Courier New", monospace !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

/* Ajustar espaçamento inferior dos títulos */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 14px; /* Ajuste conforme necessário */
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

d-article h1 {
  color: #05192d !important;
  font-size: 26px;
  font-weight: bold;
}


d-article h2 {
  color: #05192d !important;
  font-size: 22px;
  font-weight: bold;
  border-bottom: none !important;
}

d-article h3 {
  color: #05192d !important;
  font-size: 18px;
  font-weight: bold;
}